<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %} 帳號
        <input type="text" name="username" id="username">
        <br> 密碼
        <input type="password" name="password" id="password">
        <br> 重複輸入密碼
        <input type="password" name="password_repeat" id="password_repeat">
        <br> 暱稱
        <input type="text" name="nickname" id="nickname">
        <br> email
        <input type="text" name="email" id="email">
        <br>
        <input type="submit" value="送出">
    </form>
</body>

</html>