<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form enctype="multipart/form-data" action="/web/uploadvideo/" method="post">
        {% csrf_token %} 標題:
        <input type="text" name="title" id="title" value="ddd">
        <br> 圖片
        <input type="file" name="image" id="image">
        <br> 檔案
        <input type="file" name="videofile" id="videofile">
        <br> 簡述
        <input type="text" name="description" id="description" value="d;k">
        <br> 標籤
        <input type="text" name="tag" id="tag" value="bi">
        <br>
        <input type="submit" value="送出">
    </form>
</body>

</html>