<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'offcanvas.css' %}" rel="stylesheet">
    <link href="{% static 'footer.css' %}" rel="stylesheet">

    <title>登入</title>
</head>

<body>
    <form action="/web/login/" method="post">
        {% csrf_token %} 帳號

        <input type="text" name="username" id="username">
        <br> 密碼
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="登入">
    </form>
</body>

</html>